@import url(./root.css);
@font-face {
  font-family: "Segoe UI";
  src: url(./segoe-ui-4-cufonfonts-webfont/Segoe\ UI.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1600px !important;
}

/* backtotop */
.backto-top {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* preloader  */
.load-take {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-top: 3px solid var(--Dark-Purple);
  animation: routate 1s ease-in-out infinite;
}

/* ellipse  */
.ellipseLeft-1{
  top: 35%;
}
.ellipseLeft-2{
  top: 61.70%;
}
.ellipseRight-1{
  top: 21%;
}

/* header  */
.bgNav {
  background: linear-gradient(90deg, #3b2e58 0%, #8661c5 100%);
}
.bgHeader {
  background-image: url(/assets/images/bgsec1img.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px !important;
}
.startup-Card {
  max-width: 320px;
  min-height: 330px;
  border-radius: 4.659px;
  opacity: 0.7;
  background: var(--Purple) !important;
  box-shadow: 3.72705px 3.72705px 16.77172px 0px rgba(0, 0, 0, 0.7);
}
.startBtn {
  border: 2px solid var(--mid-grey) !important;
  padding: 14px 42px !important;
  border-radius: 5px !important;
  background: var(--mid-grey) !important;
}
.startBtn:hover {
  border: 2px solid var(--mid-grey) !important;
  background-color: transparent !important;
  color: white !important;
  transition: 300ms;
}
.gap-30 {
  gap: 30px;
}
.nav-bg {
  background: linear-gradient(90deg, #3b2e58 0%, #8661c5 100%);
}

/* reponsive-navbar */
.underLine::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 14px;
  background-color: var(--grey);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.underLine:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.navLinks:hover {
  -webkit-text-stroke: 0.2px white !important;
}

/* menu icon  */
.menu span {
  display: flex;
  width: 26px;
  height: 3px;
  margin-top: 4px;
  background: white;
  transition: 0.4s;
  border-radius: 2px;
  transform: skewX(40deg);
}
.span4 {
  transform: rotate(45deg) !important;
  transition: 0.4s;
}
.span5 {
  transform: rotate(-45deg) !important;
  position: relative;
  top: -7px;
  transition: 0.4s;
}
.span6 {
  display: none !important;
  transition: 0.4s;
}
.transition-4 {
  transition: 0.4s;
}

/* section 1  */
.max-700 {
  max-width: 700px;
}
.max-800 {
  max-width: 800px;
}

/* section 3 */
.max-900 {
  max-width: 900px;
}
.maxH-457 {
  max-height: 457px;
}
.hubBtn {
  padding: 14px 42px !important;
}

/* section 4  */
.fhCard {
  width: 100% !important;
  min-height: 110px !important;
}
.fhCard:hover {
  box-shadow: #8661c5 !important;
  transform: scale(1.1) !important;
  transition: 0.3s;
  box-shadow: 2.51517px 2.51517px 11.31828px 0px rgba(0, 0, 0, 0.7) !important;
}
.py-33 {
  padding-top: 33px !important;
  padding-bottom: 33px !important;
}

/* section 5 */
.workshopCard {
  max-width: 220px !important;
  max-height: 180px !important;
  /* opacity: 0.7; */
  background: var(--Purple, #8661c5) !important;
  box-shadow: 2.51517px 2.51517px 11.31828px 0px rgba(0, 0, 0, 0.7) !important;
}
.max-550 {
  max-width: 550px;
}
.startupCard {
  border: 2.143px solid var(--Dark-Purple, #3b2e58) !important;
  background: var(--White, #fff);
}
.carousel-control-next {
  right: 0 !important;
}
.carousel-control-prev {
  left: 70% !important;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: unset !important;
}
.carousel-control-next, .carousel-control-prev {
  bottom: -95% !important;
}

/* section 6 */
.sec6Card{
border: 3px solid var(--Purple, #8661C5) !important;
}

/* footer  */
.svgIcon a svg path{
  fill: black;
}
.svgIcon a:hover svg path {
  fill: var(--Purple);
  transform: translateY(-2%);
}

@media (min-width: 576px) {
  .startup-Card {
    max-width: 409px;
    min-height: 330px;
  }
  .bgHeader {
    min-height: 720px !important;
  }
  .workshopCard {
    max-width: 390px !important;
    max-height: 234px !important;
  }
}
@media (min-width: 768px) {
  .startup-Card {
    max-width: 509px;
    min-height: 430px;
  }
  .fhCard {
    width: 100% !important;
    min-height: 172px !important;
  }
  .workshopCard {
    max-width: 500px !important;
    max-height: 234px !important;
    /* opacity: 0.7; */
    background: var(--Purple, #8661c5) !important;
    box-shadow: 2.51517px 2.51517px 11.31828px 0px rgba(0, 0, 0, 0.7) !important;
  }
}
@media (min-width: 992px) {
  .menu {
    display: none;
  }
  .menu span {
    display: flex;
    width: 30px;
    height: 3px;
    margin-top: 5px;
    background-color: var(--grey2);
    transition: 0.4s;
    border-radius: 12px;
  }

  .span5 {
    top: -8px;
  }
  :root {
    --fs-lg: 18px;
    --fs-2xl: 22px;
    --fs-3xl: 35px;
    --fs-7xl: 76px;
  }
  .startup-Card {
    max-width: 709px;
    min-height: 630px;
    border-radius: 4.659px;
    opacity: 0.7;
    background: var(--Purple) !important;
    box-shadow: 3.72705px 3.72705px 16.77172px 0px rgba(0, 0, 0, 0.7);
  }
  .gap-65 {
    gap: 65px;
  }
  .fhCard {
    width: 100% !important;
    min-height: 172px !important;
  }
  .carousel-control-next, .carousel-control-prev {
    top: 0 !important;
    bottom: 0 !important;
  }
  .carousel-control-next {
    right: -6% !important;
  }
  .carousel-control-prev {
    left: -6% !important;
  }
}
@media (max-width: 992px) {
  .mobileView {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    position: fixed;
    z-index: -1;
    top: 0%;
    width: 50%;
    min-width: 320px;
    height: 100%;
    background: linear-gradient(90deg, #3b2e58 0%, #8661c5 100%);
    left: -100%;
    transition: all 500ms linear;
    z-index: 3;
  }

  .mobileView.show {
    left: 0;
  }

  .menu {
    z-index: 4;
    cursor: pointer;
  }
}
@media (min-width: 1400px) {
  .fhCard {
    max-width: 253px !important;
    min-height: 172px !important;
  }
}
